/* ================================
   ===== Background Overrides =====
   ================================*/
.is-bg-ef {
  background-color: #efefef !important;
}
.is-bg-eee {
  background-color: #eeeeee !important;
}
.is-bg-ddd {
  background-color: #dddddd !important;
}
.is-bg-ccc {
  background-color: #cccccc !important;
}
.is-bg-bbb {
  background-color: #bbbbbb !important;
}

.is-vh-100 {
  height: 100vh;
}

/* ================================
   ======= Text Overrides =========
   ================================*/
.is-muted {
  color: $grey-light !important;
}
.is-muted:hover {
  color: $grey !important;
}

/* ================================
   ====== Dropdown Overrides ======
   ================================*/

.dropdown {
  position: relative;

  .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 103%;
    z-index: 1000;
    background-color: white;
    min-width: 200px;
    text-align: left;
    box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);
  }

  li {
    &.seperator {
      border-top: 1px solid #ccc;
      margin: 5px 0;
    }

    &>a {
      margin: 5px 0;
      padding: 5px 0 5px 15px;
      display: block;

      &:hover {
        background-color: whitesmoke;
      }
    }
  }

  &.is-aligned-right .dropdown-menu {
    right: 0;
    left: auto;
  }

  &.is-open .dropdown-menu {
    display: block;
  }

  &:hover .dropdown-menu {
    display: block;
  }
}


//button.is-profile {
//  border: 0px solid !important;
//}

button.navbar-item {
  background-color: white;
  border: none;
  color: $text-light;

  &:hover {
    color: $link-hover;
  }

  // Modifiers
  &.is-active {
    color: $link-active;
  }

  &.is-tab {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding-bottom: calc(0.75rem - 1px);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: calc(0.75rem - 1px);

    &hover {
      border-bottom-color: $primary;
      border-top-color: transparent;
    }

    &.is-active {
      border-bottom: 3px solid $primary;
      color: $primary;
      padding-bottom: calc(0.75rem - 3px);
    }
  }
}

nav.navbar {
  height: 4.5rem;
}

.navbar-item img.logo {
  margin-top: 15px;
  max-height: 2.5rem;
  vertical-align: bottom;
}
